<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">RECETARIO GLOBAL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Recetas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Compras <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">hermy991 <span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#">
          Más
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Tutorial</a>
          <a class="dropdown-item" href="#">Documentación</a>
          <a class="dropdown-item" href="#">Ayuda</a>
          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="input" placeholder="Buscar Receta">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button"><span class="oi oi-magnifying-glass"></span></button>
    </form>
  </div>
</nav>