<div class="row">
  <div class="col-sm">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Buscar Receta">
      <span class="input-group-btn">
        <button class="btn btn-outline-success" type="button"><span class="oi oi-magnifying-glass"></span></button>
      </span>
    </div>  
  </div>
</div>
<div class="row">
  <div class="col-sm">
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Receta</th>
              <th scope="col">Sabor</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Dulce de calabaza</th>
              <td>9.7</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Ensalada de verdura y pasta 'garganelli'</th>
              <td>7.2</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">Flan de espinacas, acelgas y gambas</th>
              <td>7.5</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
  </div>
</div>